$color-primary-dark: #222831;
$color-primary-light: #393e46;
$color-accents: #00adb5;
$color-accents-light: #64ccc5;
$color-white: #eeeeee;
$gray: #9b9b9b;
$color-gray-body: #e0e0e0;
$color-footer: #000;
