.margin-top-tiny {
  margin-top: 2rem;
}
.margin-top-medium {
  margin-top: 5rem;
}
.margin-top-large {
  margin-top: 8rem;
}
.display-grid {
  display: grid;
}
.center {
  display: grid;
  place-content: center;
}
.display-flex {
  display: flex;
}
.padding {
  padding: 2rem;
}
